@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input, textarea {
  outline: none;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 10px 0 lightgrey;
}

input:focus, textarea:focus {
  border-bottom: 2px solid indigo;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 lightgrey;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}